{% load solo_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- <meta name="viewport" content="width=device-width"> -->
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Email</title>
</head>

<body bgcolor="#dbddde" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background:#dbddde;">

<table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#dbddde" style="background:#dbddde; font-family: Arial, Helvetica, sans-serif;">
  <tr>
    <td>

      <table border="0" bgcolor="#dbddde" width="600" cellpadding="0" cellspacing="0" align="center" style="margin:auto; background:#dbddde; line-height: 1;">
        <tr>
          <td valign="middle" style="text-align:center; padding: 11px 0 18px;">
            <span style=" font-size: 11px; color:#333;">Is this email not displaying correctly?</span>
            <a href="#" style=" font-size: 11px; color:#2C6B79; text-decoration:underline;">View it in your browser.</a>
          </td>
        </tr>
      </table>

       <!-- Logo: BEGIN -->
      <table border="0" bgcolor="#fff" width="600" cellpadding="0" cellspacing="0" align="center" style="margin:auto; background:#fff;">
        <tr>
          <td valign="middle" style="text-align:left; padding: 30px 30px 37px;">
            <a href="http://sample.com/">
              <img src="{{ static_path }}images/static/email/logo-email.png" alt="sample" height="36" width="141" border="0">
            </a>
          </td>
          <td valign="middle" style="padding: 0 31px 0 0; text-align:right; font-size:18px; color:#575f60;">
            mortgages made simple
          </td>
        </tr>
      </table>
      <!-- Logo: END -->

      <!-- Banner: BEGIN -->
      <table border="0" width="644" cellpadding="0" cellspacing="0" align="center" style="margin:auto;">
        <tr>
          <td width="22" valign="top">
            <img width="22" height="110" src="{{ static_path }}images/static/email/email-corner-left_light.png" alt="">
          </td>
          <td valign="top" width="600" style="background: #fff;">
            <table border="0" width="600" cellpadding="0" cellspacing="0" align="center" valign="top" style="margin:auto; background: #00b4cb;">
              <tr>
                <td style="vertical-align: middle; padding: 18px 30px;">
                  <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="font-size: 25px; font-weight: 700; color:#fff; text-transform:uppercase;">
                        Introducing sample:
                      </td>
                    </tr>
                    <tr>
                      <td style="font-size: 19px; color:#fff;">
                        A better way to get a mortgage.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td width="22" valign="top">
            <img width="22" height="110" src="{{ static_path }}images/static/email/email-corner-right_light.png" alt="">
          </td>
        </tr>
      </table>
      <!-- Banner: END -->

      <!-- MAIN BODY: BEGIN -->
      <table border="0" bgcolor="#fff" width="600" cellpadding="0" cellspacing="0" align="center" style="margin:auto; background:#fff;">
        <tr>
          <td valign="middle">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td style="padding: 5px 30px 14px; text-align:left;">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="padding:0 0 25px 0; font-size:17px; font-weight:700; text-align:left; color:#575f60;">
                        Dear Elise,
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0 0 22px 0; font-size:15px; font-weight:400; text-align:left; color:#575f60; line-height:1.7;">
                        We've been planning and planning for this, and the day has arrived to change the way you finance a home.
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0 0 20px 0; font-size:15px; font-weight:400; text-align:left; color:#575f60; line-height:1.7;">
                        We at sample are proud to announce that we are now providing a simple, fast, and low-cost mortgage experience to the people of the great state <br> of California.
                      </td>
                    </tr>
                    <tr>
                      <td style="font-size:16px; font-weight:600; text-align:left; color:#575f60; padding:5px 0;">
                        Sincerely,
                      </td>
                    </tr>
                    <tr>
                      <td style="font-size:15px; font-weight: 700; text-align:left; color:#575f60;">
                        The Team at sample
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="10" style="font-size:0; line-height:0;">&nbsp;</td>
        </tr>
      </table>
      <!-- MAIN BODY: END -->

      <!-- TEAM: BEGIN -->
      <table border="0" bgcolor="#f2f4eb" width="600" cellpadding="0" cellspacing="0" align="center" style="margin:auto; background:#f2f4eb; color: #070707;">
        <tr>
          <td style="font-size: 11px; padding: 25px 29px 0;">
            Meet your advisor:
          </td>
        </tr>
        <tr>
          <td style="text-align:left; padding: 13px 31px;">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td style="vertical-align: top;">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="300" style="font-size: 14px; font-weight: bold; padding: 9px 0 2px;">
                        Rob Purnell
                      </td>
                    </tr>
                    <tr>
                      <td width="300" style="font-size: 14px; line-height: 1.3;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="font-size: 11px; padding: 12px 31px 0;">
            Meet your Client Service Team:
          </td>
        </tr>
        <tr>
          <td style="padding: 8px 31px 33px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td width="235" style="text-align:left; padding-right: 33px;">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="vertical-align: top;">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="font-size: 14px; font-weight: bold; padding: 5px 0 4px;">
                              Glenn Tatarsky
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size: 14px; line-height: 1.3;">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="235" style="text-align:left; padding-left: 32px;">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="vertical-align: top;">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="font-size: 14px; font-weight: bold; padding: 5px 0 4px;">
                              Mark Lawin
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size: 14px; line-height: 1.3;">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- TEAM: END -->

      <!-- ABOUT US: BEGIN -->
      <table border="0" bgcolor="#fff" width="600" cellpadding="0" cellspacing="0" align="center" style="margin:auto; background:#fff;">
        <tr>
          <td style="text-align: center; padding: 22px 0 18px;">
            <a href="http://sample.com/">
              <img src="{{ static_path }}images/static/email/logo-email.png" alt="sample" height="24" width="90" border="0">
            </a>
          </td>
        </tr>
        {% get_solo 'core.OfficeAddress' as addr %}
        <tr>
          <td align="center" style="color: #707070; font-size: 11px; text-align: center; padding-bottom: 13px;">
            {{ addr.house_number }} {{ addr.address }}, Suite {{ addr.suite }}, {{ addr.city }}, {{ addr.state }} {{ addr.zipcode }} <br> p: 1.855.sample1 e: <a style="color: #2c6b79; text-decoration: none;" href="mailto:info@sample.com">info@sample.com</a> w: <a style="color: #2c6b79; text-decoration: none;" href="{{ static_path }}">sample.com</a>
          </td>
        </tr>
      </table>
      <!-- ABOUT US: END -->

      <!-- SOCIAL: BEGIN -->
      <table border="0" bgcolor="#fff" width="600" cellpadding="0" cellspacing="0" align="center" style="margin:auto; background:#fff;">
       <tr>
          <td valign="middle">
            <table border="0" cellpadding="0" cellspacing="0" align="center" style="padding:0 20px; text-align:left;" >
              <tr>
                <td style="padding-top: 6px;">
                  <table border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                      <td style="padding: 0 12px 0 0;">
                       <a href="http://www.facebook.com/pages/sample/1374268079478117" style="display:inline-block; vertical-align:middle;">
                         <img style="border: none;" width="10" height="18" src="{{ static_path }}images/static/email/email-facebook_green.jpg" alt="Facebook sample">
                       </a>
                      </td>
                      <td style="padding: 0 12px 0 0;">
                       <a href="http://www.twitter.com/sample" style="display:inline-block; vertical-align:middle;">
                         <img style="border: none;" width="20" height="16" src="{{ static_path }}images/static/email/email-twitter_green.jpg" alt="twitter sample">
                       </a>
                      </td>
                      <td style="padding: 0 12px 0 0;">
                       <a href="http://www.linkedin.com/company/3488835" style="display:inline-block; vertical-align:middle;">
                         <img style="border: none;" width="18" height="18" src="{{ static_path }}images/static/email/email-linkedin_green.jpg" alt="linkedin sample">
                       </a>
                      </td>
                      <td style="padding: 2px 12px 0 0;">
                       <a href="https://plus.google.com/117198243526564996183" style="display:inline-block; vertical-align:middle;">
                         <img style="border: none;" width="18" height="18" src="{{ static_path }}images/static/email/email-google_green.jpg" alt="google sample">
                       </a>
                      </td>
                      <td>
                       <a href="mailto:customer.service@sample.com" style="display:inline-block; float: left; vertical-align:middle;">
                         <img style="border: none;" width="18" height="12" src="{{ static_path }}images/static/email/email-mail_green.jpg" alt="mail sample">
                       </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="6" align="center" style="color: #fff; font-size: 11px; text-align: center; padding: 39px 0 20px;">
                  Copyright © {% now "Y" %} sample. All rights reserved.
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
              </v:textbox>
            </v:rect>
            <![endif]-->
          </td>
       </tr>
      </table>
      <!-- SOCIAL: END -->

      <!-- FOOTER: BEGIN -->
      <!-- FOOTER: BEGIN -->
      <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="font-size: 11px; color: #707070;">
        <tr>
          <td style="padding: 9px 20px 12px;">
            This message was sent to <a style="color: #2c6b79;" href="mailto:ozohar@gmail.com">ozohar@gmail.com</a>. If you don't want to receive these emails from sample in the future, please <a style="color: #2c6b79;" href="#">unsubscribe</a>.
          </td>
        </tr>
        <tr>
          <td style="padding: 0 20px 30px;">
            Disclaimer space
          </td>
        </tr>
      </table>
      <!-- FOOTER: END -->

    </td>
  </tr>
</table>

</body>

</html>
