{% extends "pinax/notifications/base-with-team.html" %}

{% block title %} Thank you for sending your info! {% endblock title %}

{% block content %}
  <tr>
    <td style="padding:0 0 25px 0; font-size:17px; font-weight:700; text-align:left; color:#575f60;">
      Hi {{ recipient.first_name }},
    </td>
  </tr>
  <tr>
    <td style="padding:0 0 22px 0; font-size:15px; font-weight:400; text-align:left; color:#575f60; line-height:1.7;">
      Thank you for sending us your information! We’re not currently licensed to provide mortgage advice or rates for your state, but we’ll make sure to let you know as soon as we are.
    </td>
  </tr>
  <tr>
    <td style="padding:0 0 22px 0; font-size:15px; font-weight:400; text-align:left; color:#575f60; line-height:1.7;">
      In the meantime, <a href="https://www.facebook.com/pages/sample/1374268079478117">check out our Facebook Page</a>, <a href="https://twitter.com/sample">follow us on Twitter</a>, <a href="https://plus.google.com/u/0/107918496422560099318">add us on G+</a>, or respond to this e-mail with any thoughts or feedback.
    </td>
  </tr>
    <tr>
    <td style="padding:0 0 22px 0; font-size:15px; font-weight:400; text-align:left; color:#575f60; line-height:1.7;">
      Your Information:
    </td>
  </tr>
  <tr>
    <td style="padding:0 0 22px 0; font-size:15px; font-weight:400; text-align:left; color:#575f60; line-height:1.7;">
      Name: {{ contact_request.first_name }} {{ contact_request.last_name }}
    </td>
  </tr>
  <tr>
    <td style="padding:0 0 22px 0; font-size:15px; font-weight:400; text-align:left; color:#575f60; line-height:1.7;">
      Phone: {{ contact_request.phone }}
    </td>
  </tr>
{% endblock content %}
